@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
 font-family: 'Jost',sans-serif;
 
  --bg-opacity: 1;
  background-color: #4299e1;
  background-color: crgba(66,153,225,var(--bg-opacity));
}
 

nav{
z-index:10001 !important;
}
.gradientBg{
  background: linear-gradient(99deg,#77caeb 0%,#00ADEF 100%);
  
}
.btnPrimary{
  @apply py-3 px-8 bg-secondary font-semibold text-white rounded hover:bg-primary transition-all duration-300;
}